<div class="container">
  <div class="row">
    <div class="col-sm col-lg col-md">
      <div class="thumbnail">
        <img src="/images/hawaiian.jpg" class="img-thumbnail img-fluid">
      </div>
    </div>
    <div class="col-sm col-lg col-md">
      <div class="thumbnail">
        <img src="/images/pepperoni.jpg" class="img-thumbnail img-fluid">
      </div>
    </div>
    <div class="col-sm col-lg col-md">
      <div class="thumbnail">
        <img src="/images/vega.jpg" class="img-thumbnail img-fluid">
        <a href="/about">Вегатерианская пицца</a>
      </div>
    </div>
  </div>
</div>
